#nav_mobile, #menu_hidden{
    display: none;
}


@media (max-width:767px){
     #nav_mobile{
        display: block;
    }  
}


/*
    Mobile Menu Core Style
*/



.slicknav_btn { position: relative; display: block; vertical-align: middle; float: right; padding: 0.438em 0.625em 0.438em 0.625em; line-height: 1.125em; cursor: pointer; }
.slicknav_menu  .slicknav_menutxt { display: block; line-height: 1.188em; float: left; }
.slicknav_menu .slicknav_icon {float: left;margin: 0;}
.slicknav_menu .slicknav_no-text { margin: 0 }
.slicknav_menu .slicknav_icon-bar { display: block; width: 1.125em; height: 0.125em; -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar { margin-top: 0.188em }
.slicknav_nav { clear: both }
.slicknav_nav ul,
.slicknav_nav li { display: block }
.slicknav_nav .slicknav_arrow:before {
    font-family: "FontAwesome";
    font-weight: 300;
    content: "\f078";
    font-size: 18px;
    color: #0e1f2b;
}
.slicknav_nav .slicknav_arrow { font-size: 0;}
.slicknav_nav .slicknav_row { display: block; }
.slicknav_nav a { display: block }
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a { display: inline }
.slicknav_menu:before,
.slicknav_menu:after { content: " "; display: table; }
.slicknav_menu:after { clear: both }
/* IE6/7 support */
.slicknav_menu { *zoom: 1 }

/* 
    User Default Style
    Change the following styles to modify the appearance of the menu.
*/

.slicknav_menu {
    font-size:16px;
}

.slicknav_nav, .slicknav_nav ul {
    list-style: none;
    overflow:hidden;
}
.slicknav_nav ul {
    padding:0;
}


.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
    margin: 0;
    width: 90%;
    display: inline-block;
    box-sizing: border-box;
}


.slicknav_nav a.slicknav_item {
    cursor: pointer;
    display: inline-block;
    width: 10%;
    text-align: center;
    padding: 5px 0px;
}


.slicknav_nav .slicknav_txtnode {
     margin-left:15px;   
}

.slicknav_nav li a{
    text-align: left;
    color: #0e1f2b;
    font-size: 16px;
    padding: 12px 40px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    transition: color ease .5s;
}

.slicknav_nav li li a{
    padding:5px 10px 5px 20px;
}

.slicknav_nav li li a{
    padding:5px 10px 5px 30px;
}

.slicknav_nav li li li a{
    padding:5px 10px 5px 40px;
}

.slicknav_nav li li li li a{
    padding:5px 10px 5px 50px;
}

.slicknav_nav li li li li li a{
    padding:5px 10px 5px 60px;
}

