
/* --------------------- Nav menu container width */

#nav_mobile{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}


/* --------------------- Menu trigger button */ 

/* Button */
.slicknav_btn {
    margin: 5px 5px 6px;
    text-decoration:none;
    background: #444444;
    color: #ffffff;
}

/* Button Text */
.slicknav_menu  .slicknav_menutxt {
    color: #ffffff;
}

/* Button Lines */
.slicknav_menu .slicknav_icon-bar {
  background-color: #0e1f2b;
}

/* --------------------- Menu content */


/*  menu color */
.slicknav_menu {
    background: #000000;
    padding: 0px;
    display: inline-flex;
    border-radius: 100%;
    align-items: center;
    width: 48px;
    height: 48px;
}

.sj_admin .slicknav_nav {
    top: 60px;
}

/*  menu font color */
.slicknav_nav {
    font-size:0.875em;
    position: fixed;
    background: #fff;
    color: #0e1f2b;
    padding: 25px 0;
    margin: 20px;
    width: calc(100% - 40px);
    height: auto;
    box-shadow: 0 5px 5px rgba(0,0,0,.16);
    border-radius: 10px;
    left: 0;
}

/*  menu link-item hover */
.slicknav_nav a:hover{
    opacity: 0.8;
    color: inherit !important;
}


/*  menu link-item color */

.slicknav_nav a{
    text-decoration:none;
    color: #0e1f2b;
}


/* core FIX */
.slicknav_menu .slicknav_menutxt {
    display: none;
    line-height: 1em;
    float: left;
}